-- MariaDB dump 10.19  Distrib 10.4.24-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: feeluy
-- ------------------------------------------------------
-- Server version	10.4.24-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividades_infantiles`
--

DROP TABLE IF EXISTS `actividades_infantiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actividades_infantiles` (
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `Tipo` set('Circo','Calesita','Maquinitas','Juegos Infantiles') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  KEY `actividades_infantiles_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `actividades_infantiles_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividades_infantiles`
--

LOCK TABLES `actividades_infantiles` WRITE;
/*!40000 ALTER TABLE `actividades_infantiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividades_infantiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `actividades_nocturnas`
--

DROP TABLE IF EXISTS `actividades_nocturnas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `actividades_nocturnas` (
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `Tipo` set('Discoteca','Casino','Pool','Cantina','Bowling') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  KEY `actividades_nocturnas_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `actividades_nocturnas_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividades_nocturnas`
--

LOCK TABLES `actividades_nocturnas` WRITE;
/*!40000 ALTER TABLE `actividades_nocturnas` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividades_nocturnas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alojamientos`
--

DROP TABLE IF EXISTS `alojamientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alojamientos` (
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `Tipo` set('Hotel','Hostel','Motel','Estancia','Camping','Casa') COLLATE utf8mb4_unicode_ci NOT NULL,
  `Calificaciones` int(11) DEFAULT NULL,
  `TvCable` tinyint(1) DEFAULT NULL,
  `Piscina` tinyint(1) DEFAULT NULL,
  `Wifi` tinyint(1) DEFAULT NULL,
  `AireAcondicionado` tinyint(1) DEFAULT NULL,
  `BanoPrivado` tinyint(1) DEFAULT NULL,
  `Casino` tinyint(1) DEFAULT NULL,
  `Bar` tinyint(1) DEFAULT NULL,
  `Restaurante` tinyint(1) DEFAULT NULL,
  `Desayuno` tinyint(1) DEFAULT NULL,
  `Mascota` tinyint(1) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  KEY `alojamientos_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `alojamientos_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alojamientos`
--

LOCK TABLES `alojamientos` WRITE;
/*!40000 ALTER TABLE `alojamientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `alojamientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_logins`
--

DROP TABLE IF EXISTS `auth_logins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_logins` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_logins`
--

LOCK TABLES `auth_logins` WRITE;
/*!40000 ALTER TABLE `auth_logins` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_logins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `espectaculos`
--

DROP TABLE IF EXISTS `espectaculos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `espectaculos` (
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `Tipo` set('Cine','Teatro','Carnaval','EventoDeportivo','EventoMusical') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  KEY `espectaculos_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `espectaculos_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `espectaculos`
--

LOCK TABLES `espectaculos` WRITE;
/*!40000 ALTER TABLE `espectaculos` DISABLE KEYS */;
/*!40000 ALTER TABLE `espectaculos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventos`
--

DROP TABLE IF EXISTS `eventos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `eventos` (
  `Eventos_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `NombreEvento` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `LugarDeVentaDeEntradas` set('Abitab','RedPagos','TickAntel','LugarDelEvento','AccesoYa','RedTickets') COLLATE utf8mb4_unicode_ci NOT NULL,
  `FechaInicio` date NOT NULL,
  `FechaFin` date NOT NULL,
  `HoraInicio` time NOT NULL,
  `HoraFin` time DEFAULT NULL,
  `TipoEvento` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ImagenEvento` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`Eventos_id`),
  KEY `eventos_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `eventos_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventos`
--

LOCK TABLES `eventos` WRITE;
/*!40000 ALTER TABLE `eventos` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gastronomicos`
--

DROP TABLE IF EXISTS `gastronomicos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gastronomicos` (
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `ComidaVegge` tinyint(1) DEFAULT NULL,
  `Especialidad` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Alcohol` tinyint(1) DEFAULT NULL,
  `MenuInfantil` tinyint(1) DEFAULT NULL,
  `Tipo` set('Restaurantes','Bares','Comida rapida','Cervecerias') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  KEY `gastronomicos_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `gastronomicos_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gastronomicos`
--

LOCK TABLES `gastronomicos` WRITE;
/*!40000 ALTER TABLE `gastronomicos` DISABLE KEYS */;
/*!40000 ALTER TABLE `gastronomicos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imagenes_puntos_de_interes`
--

DROP TABLE IF EXISTS `imagenes_puntos_de_interes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `imagenes_puntos_de_interes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `public_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `image_description` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `imagenes_puntos_de_interes_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `imagenes_puntos_de_interes_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2373 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imagenes_puntos_de_interes`
--

LOCK TABLES `imagenes_puntos_de_interes` WRITE;
/*!40000 ALTER TABLE `imagenes_puntos_de_interes` DISABLE KEYS */;
/*!40000 ALTER TABLE `imagenes_puntos_de_interes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paseos`
--

DROP TABLE IF EXISTS `paseos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paseos` (
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `Recomendaciones` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Tipo` set('Playas','Ejercicios al aire libre','Cerros','Sierras','Lugar turistico') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  KEY `paseos_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `paseos_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paseos`
--

LOCK TABLES `paseos` WRITE;
/*!40000 ALTER TABLE `paseos` DISABLE KEYS */;
/*!40000 ALTER TABLE `paseos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  KEY `password_resets_email_index` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `puntosinteres`
--

DROP TABLE IF EXISTS `puntosinteres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `puntosinteres` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `Nombre` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Departamento` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Ciudad` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Direccion` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `HoraDeApertura` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `HoraDeCierre` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Facebook` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Instagram` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Web` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Descripcion` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Latitud` int(11) DEFAULT NULL,
  `Longitud` int(11) DEFAULT NULL,
  `TipoDeLugar` set('Espacio cerrado','Al aire libre','Ambos') COLLATE utf8mb4_unicode_ci NOT NULL,
  `RestriccionDeEdad` set('Todas','Mayores') COLLATE utf8mb4_unicode_ci NOT NULL,
  `EnfoqueDePersonas` set('Grupo','Familia','Pareja','Individual','Sin restriccion') COLLATE utf8mb4_unicode_ci NOT NULL,
  `Megusta` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=472 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `puntosinteres`
--

LOCK TABLES `puntosinteres` WRITE;
/*!40000 ALTER TABLE `puntosinteres` DISABLE KEYS */;
/*!40000 ALTER TABLE `puntosinteres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicios_esenciales`
--

DROP TABLE IF EXISTS `servicios_esenciales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servicios_esenciales` (
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `Tipo` set('Hospitales','Farmacias','Cerrajerias','Estaciones de Servicio','Seccionales') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  KEY `servicios_esenciales_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `servicios_esenciales_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicios_esenciales`
--

LOCK TABLES `servicios_esenciales` WRITE;
/*!40000 ALTER TABLE `servicios_esenciales` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicios_esenciales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `telefonos`
--

DROP TABLE IF EXISTS `telefonos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `telefonos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `Telefono` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `telefonos_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `telefonos_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=458 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `telefonos`
--

LOCK TABLES `telefonos` WRITE;
/*!40000 ALTER TABLE `telefonos` DISABLE KEYS */;
/*!40000 ALTER TABLE `telefonos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tour_armados`
--

DROP TABLE IF EXISTS `tour_armados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tour_armados` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `usuarioId` bigint(20) unsigned NOT NULL,
  `nombreTour` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `horaInicioTour` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tour_armados_usuarioid_foreign` (`usuarioId`),
  CONSTRAINT `tour_armados_usuarioid_foreign` FOREIGN KEY (`usuarioId`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tour_armados`
--

LOCK TABLES `tour_armados` WRITE;
/*!40000 ALTER TABLE `tour_armados` DISABLE KEYS */;
/*!40000 ALTER TABLE `tour_armados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tour_items`
--

DROP TABLE IF EXISTS `tour_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tour_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tourId` bigint(20) unsigned NOT NULL,
  `puntoInteresId` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tour_items_tourid_foreign` (`tourId`),
  KEY `tour_items_puntointeresid_foreign` (`puntoInteresId`),
  CONSTRAINT `tour_items_puntointeresid_foreign` FOREIGN KEY (`puntoInteresId`) REFERENCES `puntosinteres` (`id`),
  CONSTRAINT `tour_items_tourid_foreign` FOREIGN KEY (`tourId`) REFERENCES `tour_armados` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tour_items`
--

LOCK TABLES `tour_items` WRITE;
/*!40000 ALTER TABLE `tour_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `tour_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tour_items_predefinido`
--

DROP TABLE IF EXISTS `tour_items_predefinido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tour_items_predefinido` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tourId` bigint(20) unsigned NOT NULL,
  `puntoInteresId` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tour_items_predefinido_tourid_foreign` (`tourId`),
  KEY `tour_items_predefinido_puntointeresid_foreign` (`puntoInteresId`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tour_items_predefinido`
--

LOCK TABLES `tour_items_predefinido` WRITE;
/*!40000 ALTER TABLE `tour_items_predefinido` DISABLE KEYS */;
/*!40000 ALTER TABLE `tour_items_predefinido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tour_predefinido`
--

DROP TABLE IF EXISTS `tour_predefinido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tour_predefinido` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombreTourPredefinido` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `horaDeInicioTourPredefinido` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcionTourPredefinido` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `imagenTour` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tour_predefinido`
--

LOCK TABLES `tour_predefinido` WRITE;
/*!40000 ALTER TABLE `tour_predefinido` DISABLE KEYS */;
/*!40000 ALTER TABLE `tour_predefinido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `translations`
--

DROP TABLE IF EXISTS `translations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `translations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tagName` varchar(255) NOT NULL DEFAULT 'tagname',
  `es` varchar(255) DEFAULT NULL,
  `en` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=172 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `translations`
--

LOCK TABLES `translations` WRITE;
/*!40000 ALTER TABLE `translations` DISABLE KEYS */;
/*!40000 ALTER TABLE `translations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transporte`
--

DROP TABLE IF EXISTS `transporte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transporte` (
  `puntosinteres_id` bigint(20) unsigned NOT NULL,
  `Tipo` set('Omnibus','Taxi') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  KEY `transporte_puntosinteres_id_foreign` (`puntosinteres_id`),
  CONSTRAINT `transporte_puntosinteres_id_foreign` FOREIGN KEY (`puntosinteres_id`) REFERENCES `puntosinteres` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transporte`
--

LOCK TABLES `transporte` WRITE;
/*!40000 ALTER TABLE `transporte` DISABLE KEYS */;
INSERT INTO `transporte` VALUES (1,'Omnibus','2023-03-14 05:11:50','2023-03-14 05:44:33'),(2,'Omnibus','2023-03-14 05:11:50','2023-03-14 05:11:50'),(3,'Omnibus','2023-03-14 05:11:50','2023-03-14 05:11:50'),(4,'Omnibus','2023-03-14 05:11:50','2023-03-14 05:11:50'),(471,'Taxi','2023-04-24 04:48:08','2023-04-24 04:48:08');
/*!40000 ALTER TABLE `transporte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_backoffices`
--

DROP TABLE IF EXISTS `user_backoffices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_backoffices` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_backoffices_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_backoffices`
--

LOCK TABLES `user_backoffices` WRITE;
/*!40000 ALTER TABLE `user_backoffices` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_backoffices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_profiles`
--

DROP TABLE IF EXISTS `user_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_profiles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `nacionalidad` varchar(255) NOT NULL,
  `f_nacimiento` date NOT NULL,
  `preferencias` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`preferencias`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_profiles_user_id_unique` (`user_id`),
  CONSTRAINT `user_profiles_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_profiles`
--

LOCK TABLES `user_profiles` WRITE;
/*!40000 ALTER TABLE `user_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `two_factor_secret` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `two_factor_recovery_codes` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `two_factor_confirmed_at` timestamp NULL DEFAULT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-07-10 23:02:17
